.filters {
  display: flex;
  flex-direction: column;
  gap: var(--medium-big);
  &__row {
    display: flex;
    gap: var(--medium-big);

    app-dropdown-filter,
    app-calendar-filter {
      width: 50%;
    }
  }

  app-proposal-client-filter,
  app-proposal-location-filter {
    width: 50%;
  }
}
