:root {
  // *** COLORS ***
  --primary: #ff5000;
  --secondary: #e8e9ed;
  --accent: #27272a;
  --warning: #ff000f;
  --purple: #fb39ff;
  --yellow: #ffdb1f;
  --orange: #ff8a00;
  --white: #ffffff;

  // text
  --text-1: #323b4b;
  --text-2: #4e5d78;
  --text-3: #8a94a6;
  --text-4: #b0b7c3;
  --text-form-element: #666666;

  // background
  --bg-1: #e8e9ed;
  --bg-2: #f6f6f7;
  --bg-3: #ffffff;

  // black
  --black-100: #27272a;
  --black-200: #73757b;
  --black-300: #8e9197;

  // grey
  --grey-25: #f9f9fc;
  --grey-50: #f0f1f3;
  --grey-100: #e0e2e7;
  --grey-200: #c2c6ce;
  --grey-300: #a3a9b6;
  --grey-400: #858d9d;

  --border-color: #ededed;

  // shadow
  --drop-shadow: #8362ea0d;

  // sizes
  --extra-small: 4px;
  --small: 8px;
  --medium-small: 12px;
  --medium: 16px;
  --medium-big: 20px;
  --big: 24px;
  --medium-large: 28px;
  --large: 32px;
  --extra-large: 40px;

  // font size
  --font-size-14: 14px;
}
