<app-expandable-card title="Proposal History">
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil praesentium
    provident pariatur dignissimos. Voluptatibus sint at similique dolore harum
    atque, animi consectetur praesentium qui asperiores dolorum officia nihil
    voluptates magni repellat ducimus repudiandae a eum, enim est quo, sed
    aliquid aut? Repellendus mollitia consectetur neque ipsa? Voluptatem, dicta
    doloremque ut ipsum cumque eligendi dolore in iusto blanditiis omnis!
    Accusantium iure reprehenderit quod tenetur inventore aspernatur, vitae
    praesentium voluptatem, dolorum exercitationem tempora alias corrupti fugit
    suscipit, dolore laborum distinctio optio nobis! Maxime quae quod corrupti
    perferendis illo impedit magni eaque? Unde eaque deserunt nam earum sequi
    accusamus tenetur, corrupti sunt? Enim!
  </p>
</app-expandable-card>
