.location {
  border: 1px dashed var(--black-300);
  border-radius: var(--medium-small);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-14);
  color: var(--primary);
  transition: all 0.2s;
  cursor: pointer;
  height: 100%;

  &:hover {
    background-color: var(--bg-3);
  }
}
