<app-expandable-card [isCustomHeader]="true">
  <div header class="builder-header">
    <div class="builder-header__title">
      <img src="./assets/icons/ui/ic-magic.svg" alt="AI Icon" />
      <div class="builder-header__title__text">
        <p>BETA V1</p>
        <h3>AI Proposal Builder</h3>
      </div>
    </div>
    <p class="builder-header__subtitle">View Proposal Outline</p>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab animi odit
    laboriosam minus dolorum harum id voluptas dolor, earum, dolorem voluptatum
    ad illum cupiditate voluptatem atque, repellendus minima voluptatibus quis
    totam vel? Fuga iste facilis perferendis aliquid quasi ea dolores eum? Ut,
    asperiores voluptas animi pariatur a quam doloremque at, explicabo labore
    consequatur eligendi magni perferendis eius repellendus necessitatibus quo
    recusandae in. Iste tempore facilis aut eaque at aspernatur veritatis
    repudiandae pariatur quaerat ab. Blanditiis sunt cum tempore fugit
    consequuntur reiciendis vel ea eum nihil. Autem dolor cum ipsum porro in
    nihil, vel suscipit impedit. Blanditiis soluta nostrum excepturi mollitia.
  </p>
</app-expandable-card>
